@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-0">
    <div class="m-2 p-2" style="border:2px solid black">
        <h3>Shops</h3>
        @Html.Action("GetShops")
    </div>
    <div class="m-2" style="border:2px solid black">
        <h3>Products</h3>
        <div id="results"></div>
    </div>
    
</div>